$d: 50; // density
$w: 1000; // grid size
$s: 12s; // speed

// Generate the snow image using radial gradients
$grad: ();
@for $i from 0 to $d {
  $v: random(4) + 2;
  $a: random(5) * 0.1 + 0.5;
  $grad: $grad,
    radial-gradient(
      $v +
        px
        $v +
        px
        at
        (random($w - $v * 2) + $v) +
        px
        (random($w - $v * 2) + $v) +
        px,
      rgba(200, 200, 200, $a) 50%,
      rgba(0, 0, 0, 0)
    ) !global;
}

// The CSS

.snow,
.snow:before,
.snow:after {
  position: absolute;
  top: -$w + px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: $grad;
  background-size: $w + px $w + px;
  animation: snow $s linear infinite;
  content: "";
}
.snow:after {
  margin-left: -$w/3 + px;
  opacity: 0.4;
  animation-duration: $s * 2;
  animation-direction: reverse;
  filter: blur(3px);
}
.snow:before {
  animation-duration: $s * 3;
  animation-direction: reverse;
  margin-left: -$w/2 + px;
  opacity: 0.65;
  filter: blur(1.5px);
}
@keyframes snow {
  to {
    transform: translateY($w + px);
  }
}

// TODO: Home Menu
.homeContain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100%;
  width: auto;

  padding-bottom: 5%;
  gap: 3%;
  z-index: 1;

  img {
    width: 20rem;
  }
}

.welcomeContain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #18181b;
  opacity: 0.9;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --color: #ffc260;

  width: 30rem;
  height: auto;
}

.welcometitle {
  text-align: center;
  padding: 0.5rem 1rem 0 1rem;

  font-weight: 500;
  font-size: 1.4em;
  color: var(--color);

  hr {
    border: 1px solid var(--color);
    width: 100%;
    margin-top: 0.5rem;
  }
}

.welcomebody {
  font-size: 1.1em;
  color: #99999d;
  padding: 0.5rem 1rem 1rem 1rem;

  p {
    margin-bottom: 0.5rem;
  }
}

.welcomeBT {
  padding: 1rem;
  margin: 0rem 1rem 1rem 1rem;

  border: none;

  font-size: 1.2em;
  text-transform: uppercase;
  color: white;

  background-color: #1e8fff72;
  cursor: pointer;

  &:hover {
    background-color: #1969b9;
  }
}
