$color-wikiFandom: rgb(255, 0, 153);
$color-steamGuide: rgb(21, 106, 160);
$color-gameWeb: rgb(238, 40, 25);

.homeContain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  height: 95vh;

  img {
    z-index: 5;
    width: 45%;
  }

  h1 {
    text-align: center;
    z-index: 3;
    padding: 0.2rem 3rem;
    width: 30rem;

    font-size: 2.2em;
    font-weight: 500;
    color: #808280;
    border-top: 2px solid #363636;
    border-bottom: 2px solid #363636;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(
      to right,
      transparent 5%,
      #000 50%,
      transparent 95%
    );

    &:hover {
      color: #fff;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  .homeContain img {
    width: 90%;
  }
}

.FooterButtons {
  position: absolute;
  left: 2%;
  bottom: 4%;
}

.wrapper {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  gap: 0.2rem;
  z-index: 5;

  a {
    display: flex;
    align-items: center;
    position: relative;
  }
}

.tooltip {
  display: flex;
  position: absolute;
  left: 2rem;
  z-index: 3;
  padding: 0.2rem 3rem;
  width: 14rem;
  font-size: 1em;
  font-weight: 500;
  color: #808280;
  border-top: 2px solid #363636;
  border-bottom: 2px solid #363636;
  background: linear-gradient(-90deg, transparent, #121212 40%);
}

.wrapper .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border: 1px solid #505455;
  background: #121212;
  cursor: pointer;
  margin: 0.8rem;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 4;
  transform: rotate(45deg);

  svg {
    display: block;
    color: #808280;
    transform: rotate(-45deg);
  }
}

a:hover {
  .icon svg {
    color: #fff;
  }

  span {
    color: #fff;
  }

  #iconGameWeb {
    background-color: $color-gameWeb;
  }

  #steamGuide {
    background-color: $color-steamGuide;
  }

  #wikiFandom {
    background-color: $color-wikiFandom;
  }
}

.profileUser {
  position: absolute;
  right: 2%;
  bottom: 4%;
  z-index: 5;
  text-align: center;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 1px solid #505455;
    background: #000;
    cursor: pointer;
    margin: 2rem;
    width: 5rem;
    height: 5rem;

    z-index: 4;
    transform: rotate(45deg);
    overflow: hidden;

    &:active {
      scale: 1.1;
    }

    img {
      position: relative;
      top: 10px;
      left: 20px;
      width: 8rem;
      transform: rotate(-45deg);
    }
  }

  h4 {
    color: #808280;

    &:hover {
      color: #fff;
    }
  }
}
