* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  position: fixed;

  a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
  }
}

.background {
  position: relative;
  overflow: hidden;

  background-color: #1e1e1e;
  min-height: 100vh;
  

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    background: linear-gradient(to top, #000, rgba(255, 255, 255, 0));
    pointer-events: none;
  }
}


.App {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start;
  height: 100vh;
} 
